{% extends 'base.html' %}
{% block content %}

        <section id="features-hero" class="container-fluid">
        <div class="row">
            <div class="cover-text">
                <h2>Features</h2>
                <h3>A wide selection available for everyone</h3>
            </div>
        </div>
        </section>
        <section class="description">
            <h2 class="subtitle">What Games are available?</h2>
            <div class="intro">
                <div id="retro">
                    <div>
                        <h3 class="subtitle">Retro Games</h3>
                        <p>We have a wide selection of Retro Arcade games such as:</p>
                        <ul>
                        <li>PacMan</li>
                        <li>Space Invaders</li>
                        <li>Tekken</li>
                        <li>Streets of Rage</li>
                        <li>Donkey Kong</li>
                        <li>Mario Bros</li>
                        <li>Jurrassic Park: The Lost World</li>
                        <li>Sega Rally</li>
                        </ul>
                        <p>And many more games available, come and see us for our full range!</p>
                     </div>
                </div>
                <img id="space-boy" class="intro-image" src="assets/images/space-boy.jpeg" alt="Space Invaders Logo">
                <div id="modern">
                    <div>
                        <h3 class="subtitle">Modern Consoles</h3>
                        <p>We have a range of screens set up with more current consoles such as:</p>
                        <ul>
                            <li>PS5 and PS4</li>
                            <li>Playstation 3</li>
                            <li>Xbox One Series S</li>
                            <li>Nintendo Switch</li>
                            <li>Nintendo Wii</li>
                        </ul>
                        <p>All of these consoles are packed full of games that can have from 1 to 4 players</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="options">
            <h2 class="subtitle">Looking for More?</h2>
            <div class="description">
                <div>
                <p>As well as a wide selection of video games and consoles, we also have a vast choice of boardgames and cardgames available.<br>You can also hire a table for tabletop gaming, feel free to bring your own games and come hang out with us!</p>
                </div>
            </div>
        </section>
{% endblock content %}