{% extends 'base.html' %}
{% block content %}

<section class="container-fluid">
    <div class="row">
        <div id="bundles" class="col-md-12 bg-img-container">
            <div class="cover-text">
                <h2>Bundles</h2>
                <h3>A selection of bundles for everyone to enjoy</h3>
            </div>
        </div>
    </div>
</section>

<section class="description">
    <div>
        <h2>What are the Costs?</h2>
        <p>Each of our machines can be used pay per play with coins or contactless,<br> And drinks and food can be purchased individually.<br> Pricing for these can be found on the refreshments menu.</p>
    </div>
    

    <!-- bundles/templates/bundles/list_bundles.html -->

    {% for bundle in bundles %}
    <h2>{{ bundle.name }}</h2>
    <p>{{ bundle.description }}</p>
    <p>Food Choices: {% for category in bundle.food_categories.all %} {{ category.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    <p>Drink Choices: {% for category in bundle.drink_categories.all %} {{ category.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    <p>Number of People: {{ bundle.number_of_people }}</p>
    <p>Playtime Hours: {{ bundle.playtime_hours }}</p>
    <p>Price: £{{ bundle.price }}</p>
    <p>Total Tokens: {{ bundle.total_tokens }}</p> <!-- If you want to display this -->
{% endfor %}



</section>

{% endblock %}