{% extends 'base.html' %}
{% block content %}

<section class="description">
    <div>
        <h2>What are the Costs?</h2>
        <p>Each of our machines can be pay per play with coins, and drinks and food can be purchased individually, pricing for these can be found on the refreshments menu.</p>
    </div>
    <div style="overflow-x:auto">
        <table class="table table-reponsive">
            <thead><h4>Bundle Options</h4></thead>
            <tr>
                <th>Bundle</th>
                <th>Whats Included?</th>
                <th>Prices</th>
            </tr>
            <tr>
                <td>Little Bytes bundle</td>
                <td>Any 1 item from the little bites selection. <br>1 hot or cold drink <br>1 hour of Unlimited Game play</td>
                <td>£5.99</td>
            </tr>
            <tr>
                <td>Double Trouble Bundle</td>
                <td>Any 2 items from the little bites menu <br>OR <br>1 item from the mega bytes menu<br>a choice of 2 hot or cold drinks<br>2 Hours of Unlimited Playtime</td>
                <td>£9.99</td>
            </tr>
            <tr>
                <td>Mega Bytes Bundle</td>
                <td>Up to 2 Mega Bytes Meals<br>2 little bytes items<br> 4 drinks<br>4 hours gameplay up to 4 people</td>
                <td>£15.99</td>
            </tr>
            <tr>
                <td>Unlimited (Family) Bundle</td>
                <td>Unlimited Food and Refill drinks<br> Play the arcade machines for as long as you like <br>up to 8 hours<br> for you and 4 other people </td>
                <td>£19.99</td>
            </tr>
        </table>
    </div>
</section>

{% endblock %}