{% extends 'base.html' %}
{% block content %}

<section class="description">
    <div>
        <h2>What are the Costs?</h2>
        <p>Each of our machines can be pay per play with coins, and drinks and food can be purchased individually, pricing for these can be found on the refreshments menu.</p>
    </div>
    

{% for bundle in bundles %}
<h2>{{ bundle.name }}</h2>
<p>{{ bundle.description }}</p>
<p>Food Categories: {% for category in bundle.food_categories.all %}{{ category.name }} {% endfor %}</p>
<p>Drink Categories: {% for category in bundle.drink_categories.all %}{{ category.name }} {% endfor %}</p>
<p>Number of People: {{ bundle.number_of_people }}</p>
<p>Playtime Hours: {{ bundle.playtime_hours }}</p>
{% endfor %}

</section>

{% endblock %}