@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400&display=swap');

* {
    padding: 0%;
    background: fixed;
    box-sizing: border-box;
    /* background-color: black; */
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    font-family: 'Exo 2', sans-serif;
    color: bisque;
    background-color: black;
}

/* Nav bar */

.bg-img-container {
    
    height: 600px;
    padding: 0%;
    width: fit-content;
    top: 0;
    position: relative;
    z-index: 3;
}

#home{
    background: url(/static/images/home-hero.jpg) no-repeat center center/cover;
}

#features {
    background: url(/static/images/features-hero.jpg) no-repeat center center/cover;
}

#menu {
    background: url(/static/images/menu-hero.jpg) no-repeat center center/cover;
}

#bundles {
    background: url(/static/images/bundles-hero.jpg) no-repeat center center/cover;
}

/* .cover-text {
    padding: 2rem;
    margin-top: 150px;
    background-color: lightslategrey;
    background-size: contain;
} */

.cover-text {
    position: absolute;
    font-size: 100%;
    background-color: #212529;
    margin-top: 300px;
    opacity: 80%;
    padding: 1rem;
}

.cover-text > h2, h3 {
    width: 90%;
    text-transform: capitalize;
    color: #ffffff;
}


h1, h2 {    
    letter-spacing: 2px;
    color: darkorange;
    line-height: 1.5rem;
    font-weight: bolder;
    opacity: 100%;
}

h1 {
    padding: 15px auto;
}



.l-t {
    text-align: left;
    padding-left: 2em;
}

.r-t {
    text-align: right;
    padding-right: 2em;
}

.lower-img {
    padding: 2rem;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

thead {
    font-size: 200%;
}

table {
    width: 100%;
    padding-bottom: 2rem;
}

td, th {
    text-align: center;
    padding: 1rem;
    border: 1px dashed darkorange;
    color: antiquewhite;
}

.category-name {
    margin-top: 30px;
}

ul {
    list-style: none;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    position: fixed;
    height: 40px;
}

#social-networks {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.col-md-4 {
    padding-top: 1.5rem;
    font-size: large;
    padding-left: 2rem;
    padding-right: 2rem;
}

.end {
    padding-bottom: 2rem;
}