@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px; 
    color: bisque;
    background-color: black;
}

/* Nav bar */


.bg-img-container {
    height: 600px;
    padding: 0%;
    width: fit-content;
    top: 0;
    position: relative;
    z-index: 3;
    margin-bottom: 1rem;
}

#home{
    background: url(/static/images/home-hero.jpg) no-repeat center center/cover;
}

#features {
    background: url(/static/images/features-hero.jpg) no-repeat center center/cover;
}

#menu {
    background: url(/static/images/menu-hero.jpg) no-repeat center center/cover;
}

#bundles {
    background: url(/static/images/bundles-hero.jpg) no-repeat center center/cover;
}

#booking {
    background: url(/static/images/booking-hero.jpg) no-repeat center center/cover;
}

#booking {
    background: url(/static/images/accounts-hero.jpg) no-repeat center center/cover;
}

.signup {
    margin-top: 20%;
    padding: 2rem;
    position: absolute;
}

.cover-text {
    position: absolute;
    font-size: 100%;
    background-color: #212529;
    margin-top: 15%;
    margin-left: 100px;
    opacity: 80%;
    padding: 1rem;
}

.cover-text > h2, h3 {
    text-transform: capitalize;
    color: #ffffff;
}


h1, h2 {    
    letter-spacing: 3px;
    color: darkorange;
    line-height: 1.5rem;
    opacity: 100%;
    padding: 2rem auto;
    margin-bottom: 1em;
}

p {
    font-size: 120%;
}


.left-text {
    padding-left: 2.75rem;
}

.right-text {
    padding-right: 2.75rem;
}

.lower-img { 
    border-radius: 50%;
    width: 300px;
    height: 300px;
    padding: 0;
}

thead {
    font-size: 200%;
}

table {
    padding-bottom: 2rem;
}

td, th {
    text-align: center;
    padding: 1rem;
    border: 1px dashed darkorange;
    color: antiquewhite;
    line-height: 1.25rem;
}

th {
    font-weight: 400;
}


.category-name {
    margin-top: 30px;
}

ul {
    list-style: none;
    padding-left: 0%;
}


.divider {
    width: 100%;
    text-align: center;
  }
  
  .dash {
    display: inline-block;
    width: 20px;
    height: 1px; 
    margin: 2rem 5px; 
    background: darkorange;
  }

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    position:sticky;
    height: 40px;
}

#social-networks {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.col-md-4 {
    padding-top: 1.5rem;
    font-size: large;
}

.card {
    background-color: #212529;
}

.end {
    padding-bottom: 2.5rem;
}

.fa-brands {
    color: #ffffff;
}

@media (max-width: 768px) {
    .bg-img-container {
        height: 30vh;
        display: inline;
    }

    .cover-text {
        padding: 0;
        margin: auto;
        font-size: initial;
        align-items: center;
    }


}