@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400&display=swap');

* {
    padding: 0%;
    background: fixed;
    /* background-color: black; */
}


body {
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    font-family: 'Exo 2', sans-serif;
    color: bisque;
    background-color: black;
    padding: 2rem;
}

/* Nav bar */
.left {
    float: left;
    display: flex;
}

.right {
    float: right;
    display: flex;
    margin-right: 0px;
}


h1, h2 {    
    letter-spacing: 2px;
    color: darkorange;
    line-height: 1.5rem;
}

h1 {
    padding: 15px auto;
}

.container {
    margin-bottom: 50px;
}

#intro-image {
    border-radius: 50%;
    background: url("{% static '/images/home-hero.jpg' %}") no-repeat center center/cover;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    padding: auto;
}

th, td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    color: #ddd;
}

.category-name {
    margin-top: 30px;
}

ul {
    list-style: none;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    position: fixed;
}

#social-networks {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
