{% extends 'base.html' %}
{% block content %}
<style>
    .menu-container {
        margin: 20px;
    }
    .category-name {
        font-size: 24px;
        margin-top: 20px;
    }
    .menu-item {
        margin-left: 20px;
    }
    .option {
        margin-left: 40px;
    }
</style>
<section id="refreshments-hero">
    <div class="cover-text">
        <h2>Back to the Refreshments</h2>
        <h3>Little Energy Boosters while you're Gaming</h3>
    </div>
</section>
<section class="description">
    <div>
        <div>
            <h2 class="subtitle">Refreshments</h2>
            <p>We have an in-house canteen that offers a selection of tasty treats to sustain you during your gaming sessions, with vegan options available on request.</p>
        </div>
    </div>
</section>
<section id="pricing">
    <div class="menu-container">
        <h1>Menu Overview</h1>
        {% for category in categories %}
            <div class="category-name">{{ category.name }}</div>
            {% for item in category.menuitems.all %}
                <div class="menu-item">{{ item.name }}</div>
                {% for option in item.options.all %}
                    <div class="option">{{ option.size }} - £{{ option.price }}</div>
                {% empty %}
                    <div class="option">No options available</div>
                {% endfor %}
            {% empty %}
                <div>No menu items available</div>
            {% endfor %}
        {% empty %}
            <div>No categories available</div>
        {% endfor %}
    </div>

</section>

{% endblock content %}