{% extends 'base.html' %}
{% load static %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% block content %}

<h1>Book Your Visit Now!</h1>

<p>Choose from our bundles,<br>
    select your desired food and drinks,<br>
    then confirm your booking.<br>
    We look forward to seeing you soon!</p>

{% if user.is_authenticated %}
<div class="container mt-5">
    <h2>Make a Booking</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div id="tokens-info">Tokens Available: </div>
        <!-- Add more form fields as needed -->
        <button type="submit">Submit Booking</button>
    </form>
</div>
{% else %}
<p>Please <a href="{% url 'account_login' %}?next={{ request.path }}">sign in</a> or <a href="{% url 'account_signup' %}">register</a> to make a booking.</p>
{% endif %}

{% endblock %}

{% block javascript %}
<script src="{% static 'js/booking.js' %}"></script>
{% endblock %}