{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="container-fluid">
    <div class="row">
        <div id="bundles" class="col-12 bg-img-container">
            <div class="cover-text">
                <h2>Bundles</h2>
                <h3>A selection of bundles for everyone to enjoy</h3>
            </div>
        </div>
    </div>
</section>

<section class="description">
    <div>
        <h2>What are the Costs?</h2>
        <p>Each of our machines can be used pay per play with coins or contactless,<br> And drinks and food can be purchased individually.<br> Pricing for these can be found on the refreshments menu.</p>
    </div>
</section>   

    <!-- bundles/templates/bundles/list_bundles.html -->
<section class="container-fluid">
    

    {% for bundle in bundles %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <table class="table">
            <tr>
                <th>Name</th>
                <td>{{ bundle.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ bundle.description | safe }}</td>
            </tr>
            <tr>
                <th>Number of People</th>
                <td>{{ bundle.number_of_people }}</td>
            </tr>
            <tr>
                <th>Playtime Hours</th>
                <td>{{ bundle.playtime_hours }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>£{{ bundle.price }}</td>
            </tr>
        </table>
    </div>
</div>
    <div class="divider">
        <span class="dash"></span>
        <span class="dash"></span>
        <span class="dash"></span>
    </div>
{% endfor %}
</div>
</section>
<section class="container-fluid">
    <div class="row">
      <h2>Ready To Plan Your Visit?</h2>
      <p><a href="{% url 'booking' %}" class="btn btn-warning">Book Now!</a></p>
    </div>
  </section>

{% endblock %}