{% extends 'base.html' %}
{% load static %}
{% block content %}

        <section class="container-fluid">
        <div class="row">
            <div id="features" class="col-md-12 bg-img-container">
            <div class="cover-text">
                <h2>Features</h2>
                <h3>A wide selection available for everyone</h3>
            </div>
        </div>
        </div>
        </section>
        <section class="container-fluid">
            <h2>What Games are available?</h2>
            <div class="row justify-content-center">   
                <div class="col-md-4 left-text">
                    <div>
                        <h3>Retro Games</h3>
                        <p>We have a wide selection of Retro Arcade dating back as far as the 70's<br>Some of these include:</p>
                        <ul>
                            <li>Space Invaders</li>
                            <li>Pac-Man</li>
                            <li>Golden Axe</li>
                            <li>Street Fighter</li>
                            <li>Donkey Kong</li>
                            <li>Mario Bros</li>
                            <li>Ghosts 'n Goblins</li>
                            <li>Dragons Lair</li>
                        </ul>
                        <p>And many more games available, come and see us for our full range!</p>
                    </div>
                </div>
                <div class="col-md-3 lower-img">
                    <img class="lower-img" src="{% static 'images/girlInArcade.jpg' %}" alt="Space Invaders Logo">
                </div>
                <div class="col-md-4 right-text">
                <div>
                    <h3>Modern Consoles</h3>
                    <p>We also have a selection of modern consoles<br>Some of these include:</p>
                    <ul>
                        <li>PlayStation</li>
                        <li>Playstation 2</li>
                        <li>Playstation 3</li>
                        <li>Sega Megadrive</li>
                        <li>Sega Dreamcast</li>
                        <li>Nintendo 64</li>
                        <li>Nintendo GameCube</li>
                        <li>Nintendo Wii</li>
                        <li>Xbox 360</li>
                    </ul>
                    <p>All of these consoles are packed full of games that can have from 1 to 4 players</p>
                </div>
            </div>
        </div>
        </section>
        <div class="divider">
            <span class="dash"></span>
            <span class="dash"></span>
            <span class="dash"></span>
        </div>
        <section id="options" class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-9">    
                    <h2>Looking for More?</h2>
                    <p>As well as a wide selection of video games and consoles, we also have a vast choice of boardgames and cardgames available.<br>You can also hire a table for tabletop gaming, feel free to bring your own games and come hang out with us!</p>
                </div>
            </div>
        </section>
{% endblock content %}