{% extends 'base.html' %} 
{% url 'booking' as booking_url %}
{% block content %}
<section class="container-fluid">
  <div class="row">
    <div id="menu" class="col-12 bg-img-container">
      <div class="cover-text">
        <h2>Back to the Refreshments</h2>
        <h3>Little Energy Boosters while you're gaming</h3>
      </div>
    </div>
  </div>
</section>
<section class="description">
  <div>
    <div>
      <h2 class="subtitle">Menu Overview</h2>
      <p>
        We have an in-house canteen that offers a selection of tasty treats to
        sustain you during your gaming sessions, with vegan options available on
        request.
      </p>
    </div>
  </div>
</section>
<section class="container-fluid">
  
    <!-- <h3>Menu Overview</h3> -->
    {% for category in categories %}
    <div class="row justify-content-center">
    <div class="col-lg-8">
    <h2>{{ category.name }}</h2>
    <div>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        {% for item in category.menuitems.all %}
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.description|default:"N/A"|safe }}</td>
          <td>
            {% if item.options.all.count > 1 %}
              {% for option in item.options.all %}
                {{ option.size }} £{{ option.price }}<br>
              {% endfor %}
            {% else %}
              £{{ item.options.all.first.price }}
            {% endif %}
          </td>
          
        </tr>
        {% empty %}
        <tr>
          <td colspan="3">No menu items available</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="divider">
      <span class="dash"></span>
      <span class="dash"></span>
      <span class="dash"></span>
  </div>
  </div>
  </div>
    {% empty %}
    <p>No categories available</p>
    {% endfor %}
  </div>
</section>
<section class="container-fluid">
  <div class="row">
    <h2>Tickling your tastebuds?</h2>
    <p><a href="{% url 'booking' %}" class="btn btn-warning">Book Now!</a></p>
  </div>
</section>

{% endblock content %}
